<div id="edit-page">
  <h2>EDIT YOUR PROFILE</h2><br />
  <form action="/profile/{{profileToEdit._id}}/edit" method="post">
    <label>Username:<br />
      <input
        type="text"
        name="username"
        value="{{profileToEdit.username}}"
        placeholder="upload the image"
      />
    </label><br />
    <label>Email:<br />
      <input
        type="text"
        name="email"
        value="{{profileToEdit.email}}"
        placeholder="upload the image"
      />
    </label><br />
    <label>Password:<br />
      <input
        type="text"
        name="password"
        value=""
        placeholder="type your new password"
      />
    </label><br />
    <label>Upload a profile photo:<br />
      <input
        type="file"
        name="profilePhoto"
        value="{{profileToEdit.profilePhoto}}"
        placeholder="upload the image"
      /></label><br />

    <button type="submit" class="basic-btn">SAVE CHANGES</button>
  </form><br>
  <form action="/profile/{{profileToEdit._id}}/delete" method="post">
    <button type="submit" class="basic-btn" id="delete-button">DELETE USER</button>
  </form>

</div>