<div id="profile-page" class="basic-container">
  <h1>Welcome {{currentUser.username}}</h1>
  <div id="profile-page-content">
    <div id="profile-page-img-btn">
      <img src="{{currentUser.profilePhoto}}" alt="profile image" />
      <div id="profile-page-buttons">
          <form method="POST" action="/logout">
            <button type="submit" class="basic-btn">Log out</button>
          </form>
          <a href="/profile/{{currentUser._id}}/edit">
            <button class="basic-btn">Edit Profile</button>
          </a>
      </div>

    </div>
    
    
    <div id="profile-page-text">
      <div id="your-events">
        <h3>Your events:</h3><br>
              {{#each currentUser.eventsCreated}}
                <div id="your-event-row">
                  <a href="/festival/{{_id}}">
                    <h3>{{name}}</h3>
                  </a>
                  <div id="delete-edit-buttons">
                    <a href="/festival/{{_id}}/edit">
                      <button><i class="bi bi-pencil-square"></i></button>
                    </a>
                    <form action="/festival/{{_id}}/delete" method="post">
                      <button
                        type="submit"
                        id="delete-button"
                      ><i class="bi bi-x-square-fill"></i></button>
                    </form>
                  </div>
                </div>
              {{/each}}
        <a href="/festival/create" >
          <button id="addEventBtn" class="basic-btn">+ Add an event</button>
        </a>
      </div>
    </div>
  </div>
</div>

