<div class="" id="edit-page">
  <h2>EDIT A FESTIVAL</h2><br>
  <form action="/festival/{{festivalToEdit._id}}" method="post">
  <label>Name:<br>
    <input type="text" name="name" value="{{festivalToEdit.name}}"/>
  </label><br>
  <label>Location:<br>
    <input type="text" name="location" value="{{festivalToEdit.location}}"/>
  </label><br>
  <label>Ticket price:<br>
    <input type="text" name="ticketPrice" value="{{festivalToEdit.ticketPrice}}"/>
  </label><br>
  <label>Info:<br>
  {{!-- this looks nicer but doesn't want to populate --}}
     {{!-- <textarea 
    rows = "7" 
    cols = "45" 
    name="info"
    value="{{festivalToEdit.info}}"
    ></textarea> --}}
    {{!-- old version of info field --}}
    {{!-- <label>Info:
    <input type="text" name="info" value="{{festivalToEdit.info}}" />
    </label><br> --}}
    <input type="text" name="info" value="{{festivalToEdit.info}} " id="edit-info-input"/>
  </label><br>
  {{!-- <label>Lineup: --}}
   {{!-- <select name="lineup" multiple>
    
    {{#each allArtists}}
    
      <option value="{{_id}}">{{name}}</option>
    </label>
      
    {{/each}}
  </select><br><br> --}}
   <br><br>
  <button type="submit" class="basic-btn">Edit this festival</button>
  </form>

</div>