<div class="basic-container all-fest-page">
  <h2>ALL FESTIVALS</h2>
  <div id="all-festivals-box">
    {{#each allFestivals}}
      <table id="table-container">
        <tr>
          <td valign="top">
            <div class="festival-card">
              <img src="{{festivalImg}}" alt="festival image" />
              <br />
              <h3>&#129395 {{name}} &#129395</h3><br />
              <h5>{{date}} | {{location}}</h5><br />
            </div>
          </td>
        </tr>
        <tr>
          <td valign="bottom">
            <a href="/festival/{{_id}}" id="">SEE MORE</a>
          </td>
        </tr>
      </table>
    {{/each}}
  </div>
</div>

{{!-- <div class="basic-container all-fest-page">
    <h2>ALL FESTIVALS</h2>
    <div id="all-festivals-box">
            {{#each allFestivals}}
            <div class="festival-card">
                <img src="{{festivalImg}}" alt="festival image"/>
                <br>
                <h3>&#129395 {{name}} &#129395</h3><br>
                <h5>{{date}} | {{location}}</h5><br>
                {{!-- <p>{{info}}</p><br> --}}
{{!-- <a href="/festival/{{_id}}" id="">SEE MORE</a> --}}
{{! </div> }}
{{!-- {{/each}}  --}}
{{! </div>  }}

{{! </div> }}

{{! </div> }}