<div id="detail-page">
      <div>
            <img src="{{currentFestival.festivalImg}}" alt="festival image"/>

      </div>
      <div id="detail-page-text">
            <h1>{{currentFestival.name}}</h1><br>
            <h3>Location: {{currentFestival.location}}</h3><br>
            <h3>Ticket price: {{currentFestival.ticketPrice}}$</h3><br>
            <h4>{{currentFestival.info}}</h4><br>

            <div id="delete-edit-buttons">
                  <form action="/festival/{{currentFestival._id}}/delete" method="post">
                        <button type="submit" class="basic-btn">DELETE</button>
                  </form>
                  <a href="/festival/{{currentFestival._id}}/edit">
                        <button class="basic-btn">EDIT</button>
                  </a>
            </div>

      </div>
      
      

</div>


